  Package: ua4f
  Version: $VERSION
  Depends: libc
  Source: feeds/base/ua4f
  SourceName: ua4f
  License: AGPL-3.0-or-later
  LicenseFiles: LICENSE.md
  Section: net
  SourceDateEpoch: $EPOCH
  Maintainer: James Clef <qwq233@qwq2333.top>
  Architecture: $ARCH
  Installed-Size: $SIZE
  Description: Another User Agent faker, allowing users to bypass multi-device detection for Campus Network via socks5 proxy.